
@import 'modal.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes dot-blink {
    0%, 20% {
      opacity: 0;
    }
    20.1%, 100% {
      opacity: 1;
    }
  }
  
  .dot1 {
      @apply inline-block;
      animation: dot-blink 1s infinite;
  }
  
  .dot2 {
      @apply inline-block;
      animation: dot-blink 1s infinite 0.2s;
  }
  
  .dot3 {
      @apply inline-block;
      animation: dot-blink 1s infinite 0.4s;
  }

.loading-screen {
    @apply fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-75 z-50;
}

@layer components {
  .slide-in {
    @apply transition-transform duration-300 ease-out;
    transform: translateX(-100%);
  }
  .slide-in-active {
    transform: translateX(0);
  }

  .slide-out-active {
    @apply transition-transform duration-300 ease-in;
    transform: translateX(-100%);
  }

  .selected {
    @apply bg-sky-600
  }

  .not-selected{
    @apply bg-sky-500 hover:bg-sky-600  ;
  }
  
}

.encabezado {
  @apply p-3 text-sm font-bold uppercase text-left rtl:text-right text-gray-500 dark:text-gray-400;
}

.campo {
  @apply px-4 py-2 font-medium whitespace-nowrap;
}

.tabla {
  @apply min-w-full divide-y divide-gray-200 dark:divide-gray-700 text-xs md:text-sm;
}

.tabla-head {
  @apply bg-gray-50 dark:bg-gray-800;
}

.tabla-body {
  @apply bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900;
}

.status-btn{
  @apply cursor-pointer text-white font-bold rounded p-2;
}

.icon-link{
  @apply text-2xl hover:text-gray-600 cursor-pointer;
}

.btn{
  @apply  cursor-pointer text-white font-bold py-2 px-4 rounded inline-block uppercase;
}

.btn-red{
  @apply bg-red-500 cursor-pointer hover:bg-red-700 text-white font-bold py-2 px-4 rounded inline-block uppercase;
}

.tag-red{
  @apply bg-red-500 text-white font-bold py-2 px-4 rounded inline-block uppercase;
}

.tag-blue{
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded inline-block uppercase;
}

.status-green{
  @apply bg-green-500 hover:bg-green-600;
}

.status-red{
  @apply bg-red-500 hover:bg-red-600
}

.label-input{
  @apply mb-2 block uppercase text-gray-500 font-bold;
}

.sidebar-link{
  @apply rounded-lg text-center flex flex-row  gap-5 md:gap-0  md:flex-col items-center md:justify-center p-3 w-full md:w-2/3;
}

.sidebar-text{
  @apply text-sm md:text-xs uppercase font-bold;
}

